/* Colores */
/* Maps */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../../assets/Imagenes/mario-gogh-VBLHICVh-lI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

body {
  margin: 0; }

h1 {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: orange;
  margin: 0; }

.subtitle,
nav a {
  font-size: 1.5rem;
  color: #f9f8eb;
  text-transform: uppercase; }

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header {
  padding: 0.8em 0;
  box-shadow: 2px 2px 10px orange; }

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  padding: 10%; }

nav li {
  margin-left: 2em;
  padding: 1%; }

nav a {
  text-decoration: none; }

nav a:hover,
nav a:focus {
  color: white; }

/* Media Queries */
@media (max-width: 600px) {
  .container {
    text-align: center; }
  .container-nav {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em 0; } }

@media (max-width: 879px) {
  .container {
    text-align: center; }
  .container-nav {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em 0; } }

@media (max-width: 1020px) {
  .container {
    text-align: center; }
  .container-nav {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em 0; } }

@media (max-width: 1350px) {
  .container {
    text-align: center; }
  .container-nav {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em 0; } }

.footer__datos {
  display: grid;
  grid-template-areas: " telefonos direccion mail redes logo_gidema";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.footer__elementos {
  display: flex;
  justify-content: space-around;
  background-color: #192939;
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 18px; }

.footer__linea {
  border-color: orange;
  width: 100%;
  margin-top: 280px; }

/*Media Queries*/
@media screen and (max-width: 600px) {
  .footer__elementos {
    font-size: 0.8rem; }
  .footer__datos {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 769px) {
  .footer__elementos {
    font-size: 0.8rem; }
  .footer__datos {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 879px) {
  .footer__elementos {
    font-size: 0.8rem; }
  .footer__datos {
    display: flex;
    flex-direction: column; } }

@media (max-width: 1020px) {
  .footer__elementos {
    font-size: 0.8rem; }
  .footer__datos {
    display: flex;
    flex-direction: column; } }

.bienvenida {
  display: flex;
  justify-content: left;
  margin-top: 15%;
  flex: wrap;
  padding-left: 100px; }
  .bienvenida__titulo {
    font-size: 31px;
    color: white;
    padding-top: 100px; }
  .bienvenida__descripcion {
    width: 600px;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white; }

.botones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding-right: 300px; }
  .botones__servicios {
    background-color: orange;
    text-decoration: none;
    border-radius: 8px;
    padding: 20px 15px;
    display: inline-block; }
  .botones__contacto {
    background-color: orange;
    text-decoration: none;
    border-radius: 8px;
    padding: 20px 15px;
    display: inline-block; }

.botones a:hover {
  color: white; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .bienvenida {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bienvenida__titulo {
      font-size: 1.2rem;
      margin-left: 5px; }
    .bienvenida__descripcion {
      font-size: 1rem;
      margin-right: 100px; }
    .bienvenida__titulo h2 {
      font-size: 1.8rem;
      margin: 5%; }
    .bienvenida__descripcion p {
      margin: 5%; }
  .botones {
    margin-left: 25%;
    justify-content: space-between; } }

@media screen and (max-width: 879px) {
  .bienvenida {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bienvenida__titulo {
      font-size: 1.4rem; }
    .bienvenida__descripcion {
      font-size: 1rem; }
  .botones {
    margin-left: 25%;
    justify-content: space-between; } }

@media screen and (max-width: 1024px) {
  .bienvenida {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bienvenida__titulo {
      font-size: 1.4rem; }
    .bienvenida__descripcion {
      font-size: 1rem;
      margin-right: 100px; }
  .botones {
    margin-left: 25%;
    justify-content: space-between; } }

.nosotros {
  display: grid;
  margin-top: 10px;
  grid-template-areas: " contenedor__imagen contenedor__texto" " contenedor__imagen contenedor__texto";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr); }
  .nosotros__fondo {
    background-color: #192939; }
  .nosotros__imagen {
    margin: 10px;
    background-image: url(../../assets/Imagenes/about-us.jpg);
    width: 95%;
    height: 800px;
    background-repeat: no-repeat; }
    .nosotros__imagen__titulo {
      margin-top: 100px;
      margin-bottom: 100px;
      text-decoration: underline orange; }
  .nosotros__texto {
    width: 100%;
    height: 800px;
    margin-top: 200px;
    color: white;
    text-align: center; }
  .nosotros__gidema {
    word-spacing: 2px;
    font-size: 1.2rem;
    padding: 40px; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros__imagen {
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat; }
    .nosotros__titulo {
      padding-top: 0;
      font-size: 2.5rem; }
    .nosotros__gidema {
      font-size: 1rem; } }

@media screen and (max-width: 879px) {
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros__imagen {
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat; }
    .nosotros__titulo {
      padding-top: 0;
      font-size: 2.5rem; }
    .nosotros__gidema {
      font-size: 1.5rem; } }

@media screen and (max-width: 1024px) {
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros__imagen {
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat; }
    .nosotros__titulo {
      padding-top: 0;
      font-size: 2.5rem; }
    .nosotros__gidema {
      font-size: 1.5rem; } }

.contenedor__card {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  grid-template-areas: " card card card" " card card card";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .contenedor__card__servicios {
    background-color: #192939; }
  .contenedor__card figure {
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }
  .contenedor__card figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform; }
  .contenedor__card figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedor__card figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .contenedor__card figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px; }
  .contenedor__card figure:hover > img {
    transform: scale(1.3); }
  .contenedor__card figure .capa h3 {
    color: white;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px; }
  .contenedor__card figure .capa p {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto; }

/*Media Queries*/
@media screen and (max-width: 600px) {
  .contenedor__card {
    display: flex;
    flex-direction: column;
    flex-direction: column; }
    .contenedor__card figure img {
      margin-top: 5%;
      display: inline-block;
      width: 100%;
      background-image: contain; }
    .contenedor__card figure .capa h3 {
      font-size: 0.7rem; }
    .contenedor__card figure .capa p {
      font-size: 0.6rem; } }

@media screen and (max-width: 879px) {
  .contenedor__card {
    grid-template-areas: " card card" " card card" " card card";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (max-width: 1024px) {
  .contenedor__card {
    grid-template-areas: " card card" " card card" " card card";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

.container__fondo {
  background-color: #192939; }

.container__titulo {
  width: 90%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  font-size: 25px;
  padding: 5px;
  text-decoration: underline blanchedalmond;
  color: lightblue; }

.container__imagen__revista {
  width: 70%;
  height: 50%;
  border-radius: 8px;
  margin: 100px;
  text-align: center;
  border: 4px solid;
  border-color: orange; }

.container__imagen__revista:hover {
  transform: scale(0.9);
  transition: all 0.5s ease; }

.container__descripcion {
  width: 80%;
  color: white;
  font-size: 18px;
  padding: 20px;
  margin-left: 12%; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container__cards {
      justify-content: center;
      align-items: center; }
    .container__titulo {
      font-size: 1.1rem; }
    .container__imagen__revista {
      height: 250px;
      width: 300px; }
    .container__descripcion {
      font-size: 1rem; } }

@media screen and (max-width: 879px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container__cards {
      justify-content: center;
      align-items: center; }
    .container__titulo {
      font-size: 1.5rem;
      width: 100%; }
    .container__imagen__revista {
      height: 80%;
      width: 80%; }
    .container__descripcion {
      font-size: 1.2rem; } }

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container__cards {
      justify-content: center;
      align-items: center; }
    .container__titulo {
      font-size: 1.5rem;
      width: 100%; }
    .container__imagen__revista {
      height: 80%;
      width: 80%; }
    .container__descripcion {
      font-size: 1.2rem; } }

.formulario {
  margin: auto;
  margin-top: 5%;
  color: azure;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  max-width: 650px; }
  .formulario__fondo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .formulario-control-nombre {
    border: 5px solid orange;
    margin-bottom: 5%; }
  .formulario-control-apellido {
    border: 5px solid orange;
    margin-bottom: 5%; }
  .formulario-control-email {
    border: 5px solid orange;
    margin-bottom: 5%; }
  .formulario-control-mensaje {
    border: 5px solid orange;
    height: 150px;
    padding: 20%; }

button {
  width: 30%;
  cursor: pointer;
  color: black;
  padding: 2%;
  background-color: orange; }
  button:hover {
    color: white;
    text-decoration: underline;
    background-color: coral;
    cursor: pointer; }

input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-style: 10px solid;
  border-color: black;
  border-radius: 5px; }

textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-style: 10px solid;
  border-color: black;
  border-radius: 5px;
  color: black; }

button[type=submit] {
  margin: 10px;
  font-weight: bold;
  font-size: 19px;
  margin-top: 5%; }

button[type=reset] {
  margin: 10px;
  font-weight: bold;
  font-size: 19px; }

a:link {
  text-decoration: none;
  color: white; }

ul a:hover {
  color: orange; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .formulario {
    font-size: 0.8rem; } }
