/*body{
    background-image: url(../../assets/Imagenes/form-fondo-mediano.jpg)
}*/


.footer{

    &__datos{
        display: grid;
        grid-template-areas: 
            " telefonos direccion mail redes logo_gidema"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    &__elementos{
        @include flex(null, space-around, null);
        background-color:#192939;
        color: map-get($colores ,secondary);
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }

    &__linea{
        border-color: map-get($colores , primary);
        width: 100%;
        margin-top: 280px;
    }
}

@media screen and(max-width: 600px){
    .footer__elementos{
        font-size: 0.8rem;
    }
}

@media screen and(max-width: 769px){
    .footer__elementos{
        font-size: 0.8rem;
    }
}

@media screen and(max-width: 879px){
    .footer__elementos{
        font-size: 0.8rem;
    }
}



