.bienvenida{
    @include flex(null, left, null);
    margin-top: 15%;
    flex: wrap;
    padding-left: 100px;

    &__titulo{
        font-size: 31px;
        color: map-get($colores , secondary);
        padding-top: 100px;
    }

    &__descripcion{
        width: 600px;
        margin-top: 30px;
        font-size: 20px;
        padding: 10px;
        letter-spacing: 1px;
        word-spacing: 2px;
        color: map-get($colores , secondary);
    }
}


.botones{
    @include flex(null, space-evenly, null);
    margin-top: 50px;
    padding-right: 300px;

    &__servicios{
        background-color: map-get($colores , primary);
        text-decoration: none;
        border-radius: 8px;
        padding: 20px 15px;
        display: inline-block;
    }

    &__contacto{

        background-color: map-get($colores , primary);
        text-decoration: none;
        border-radius: 8px;
        padding: 20px 15px;
        display: inline-block;
    }
}


.botones a:hover{
    color: map-get($colores , tertiary);
}

/* Media Queries */

@media screen and(max-width: 600px){
    .bienvenida{
        justify-content: center;
        align-items: center;
        
    &__titulo{
        font-size: 1.2rem;
        margin-left: 5px;
    }
    &__descripcion{
        font-size: 1rem;
        margin-right: 100px;
    }
} 
    .botones{
        margin-left: 25%;
        justify-content: space-between;
    }
}

@media screen and(max-width: 879px){
    .bienvenida{
        justify-content: center;
        align-items: center;
        
    &__titulo{
        font-size: 1.4rem;
    }
    &__descripcion{
        font-size: 1rem;
    }
}
    .botones{
        margin-left: 25%;
        justify-content: space-between;
    }
}

@media screen and(max-width: 1024px){
    .bienvenida{
        justify-content: center;
        align-items: center;
        
    &__titulo{
        font-size: 1.4rem;
    }
    &__descripcion{
        font-size: 1rem;
        margin-right: 100px;
    }
}
    .botones{
        margin-left: 25%;
        justify-content: space-between;
    }
}