.nosotros{
    display: grid;
    margin-top: 10px;
    grid-template-areas:
        " contenedor__imagen contenedor__texto"
        " contenedor__imagen contenedor__texto"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    &__fondo{
        background-color: #192939;
    }

    &__imagen{
        margin: 10px;
        background-image: url(../../assets/Imagenes/about-us.jpg);
        width: 95%;
        height: 800px;
        background-repeat: no-repeat;
    
    
    &__titulo{
            font-size: 40px;
            margin-top: 100px;
            margin-bottom: 100px;
            text-decoration: underline map-get($colores , primary);
        }
    }
    
    &__texto{
        width: 100%;
        height: 800px;
        margin-top: 200px;
        color: map-get($colores , secondary);   
        text-align: center; 
    }
    
    &__gidema{
        word-spacing: 2px;
        font-size: 25px;
        padding: 40px;
    }

}

@media screen and(max-width: 600px){

    .nosotros{
        display: flex;    
        flex-direction: column;
    

    &__imagen{
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;  
    }
    &__titulo{
        padding-top: 0;
        font-size: 2.5rem;
    }
    &__gidema{
        font-size: 1.5rem;
    }
    }
}

@media screen and(max-width: 879px){
    .nosotros{
        display: flex;
        flex-direction: column;
    

    &__imagen{
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;  
    }
    &__titulo{
        padding-top: 0;
        font-size: 2.5rem;
    }
    &__gidema{
        font-size: 1.5rem;
    }
    }
}


@media screen and(max-width: 1024px){
    .nosotros{
        display: flex;
        flex-direction: column;
    

    &__imagen{
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;  
    }
    &__titulo{
        padding-top: 0;
        font-size: 2.5rem;
    }
    &__gidema{
        font-size: 1.5rem;

    }
    }
}

